<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Jira Tests Suite" parallel="false">

    <test name="Jira Test">
        <parameter name="browserName" value="firefox"/>

        <classes>
            <class name="ParametersTest"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="utils.TestNGListener"/>
    </listeners>

</suite>